<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.attachment.query.mapper.AttachmentMapper">

    <!-- 파일 정보 조회 (일단 냅두기) -->
    <resultMap id="AttachmentResultMap" type="com.ideality.coreflow.attachment.query.dto.ResponseAttachmentDTO" >
        <id property="id" column="ID" />
        <result property="url" column="URL"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="size" column="SIZE"/>
        <result property="targetType" column="TARGET_TYPE"/>
        <result property="targetId" column="TARGET_ID"/>
    </resultMap>

    <resultMap id="AttachmentCommentResultMap" type="com.ideality.coreflow.attachment.query.dto.ResponseCommentAttachmentDTO">
        <id property="attachmentId" column="id"/>
        <result property="originName" column="origin_name"/>
        <result property="fileType" column="file_type"/>
        <result property="uploadAt" column="upload_at"/>
        <result property="userId" column="uploader_id"/>
        <result property="userName" column="name"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <resultMap id="AttachmentDownloadMap" type="com.ideality.coreflow.attachment.query.dto.AttachmentDownloadDTO">
        <result property="url" column="url"/>
        <result property="originName" column="origin_name"/>
    </resultMap>

    <resultMap id="AttachForCommentMap" type="com.ideality.coreflow.attachment.query.dto.AttachmentForCommentDTO">
        <id property="attachmentId" column="id"/>
        <result property="originName" column="origin_name"/>
        <result property="commentId" column="target_id"/>
    </resultMap>

    <select id="selectUrl" parameterType="map" resultMap="AttachmentResultMap">
        SELECT
            a.id,
            a.url,
            a.file_type,
            a.size,
            a.target_type,
            a.target_id
        FROM attachment a
        WHERE a.target_id = #{targetId}
        AND a.target_type = #{targetType}
    </select>

    <!-- 프로젝트 타입 첨부파일 조회 + 태스크명 포함 -->
    <select id="selectAttachmentsByProjectId" parameterType="long" resultType="com.ideality.coreflow.attachment.query.dto.ReportAttachmentDTO">
        SELECT
            a.id,
            a.url,
            a.origin_name AS originName,
            a.upload_at AS uploadAt,
            u.name AS uploader,
            a.file_type AS fileType,
            a.size,
            a.task_id,
            a.target_type AS targetType,
            a.target_id AS targetId,
            w.name AS taskName
        FROM attachment a
          JOIN user u ON a.uploader_id = u.id
          LEFT JOIN work w ON a.task_id = w.id
        WHERE a.target_type = 'PROJECT'
          AND a.target_id = #{projectId}
          AND a.is_deleted = FALSE
    </select>

    <select id="selectAttachmentInfoForDownload" parameterType="long" resultMap="AttachmentDownloadMap">
        SELECT
               url
             , origin_name
          FROM attachment
         WHERE id = #{attachmentId}
    </select>

    <select id="selectAttachmentsForComments" parameterType="long" resultMap="AttachForCommentMap">
        SELECT
               id
             , origin_name
             , target_id
          FROM attachment
         WHERE target_type = 'COMMENT'
           AND target_id = #{commentId}
    </select>

    <select id="selectAttachmentsByCommentId"
            parameterType="list"
            resultMap="AttachmentCommentResultMap">
        SELECT
        a.id
        , a.origin_name
        , a.url
        , a.file_type
        , a.upload_at
        , a.uploader_id
        , b.name
        , b.dept_name
        FROM attachment a
        JOIN user b ON a.uploader_id = b.id
        WHERE a.target_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND a.target_type = 'COMMENT'
    </select>
</mapper>
