<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.org.query.mapper.DeptMapper">

    <resultMap id="deptListMap" type="com.ideality.coreflow.project.query.dto.DepartmentDTO">
        <id column="deptId" property="DEPT_ID" />
        <result column="deptName" property="DEPT_NAME" />
    </resultMap>

    <select id="findNameById" resultType="string">
        SELECT name
          FROM dept
         WHERE id = #{id}
    </select>

    <select id="findDeptCodeByName" resultType="string">
        SELECT dept_code
        FROM dept
        WHERE name = #{deptName}
    </select>

    <select id="findDeptListByTaskId" resultMap="deptListMap">
        SELECT DISTINCT
               d.id AS DEPT_ID
             , d.name AS DEPT_NAME
          FROM dept d
          LEFT JOIN work_dept wd ON wd.dept_id = d.id
          LEFT JOIN work w ON wd.work_id = w.id
         WHERE w.id = #{taskId}
    </select>


    <!-- 부서명과 부서 ID 조회하는 SQL -->
    <select id="findAllDeptNames" resultType="com.ideality.coreflow.project.query.dto.DepartmentDTO">
        SELECT id AS deptId, name AS deptName
        FROM dept
    </select>


    <select id="findDeptIdByName" resultType="long" parameterType="string">
        SELECT id
        FROM dept
        WHERE name=#{deptName}
    </select>

</mapper>