<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ideality.coreflow.holiday.query.mapper.HolidayQueryMapper">
    <select id="existsByDate" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM holiday
            WHERE date= #{date}
        )
    </select>

    <select id="findAllHolidays" resultType="com.ideality.coreflow.holiday.query.dto.HolidayQueryDto">
        SELECT date, name, type
        FROM holiday
        ORDER BY date ASC
    </select>

    <select id="findByYear" resultType="com.ideality.coreflow.holiday.query.dto.HolidayQueryDto">
        SELECT date, name, type
        FROM holiday
        WHERE YEAR(date) = #{year}
        ORDER BY date ASC
    </select>

    <select id="findByMonth" resultType="com.ideality.coreflow.holiday.query.dto.HolidayQueryDto">
        SELECT date, name, type
        FROM holiday
        WHERE YEAR(date) = #{year}
        AND MONTH(date)=#{month}
        ORDER By date asc
    </select>

    <select id="findBetweenDates" resultType="com.ideality.coreflow.holiday.query.dto.HolidayQueryDto">
        SELECT date, name, type
        FROM holiday
        WHERE date BETWEEN #{start} AND #{end}
        ORDER BY date ASC
    </select>

    <select id="countBetweenDates" resultType="int">
        SELECT COUNT(*)
          FROM holiday
         WHERE date BETWEEN #{start} AND #{end}
    </select>
</mapper>
