<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.project.query.mapper.ParticipantMapper">

    <resultMap id="ParticipantLeaderMap" type="com.ideality.coreflow.project.query.dto.DepartmentLeaderDTO">
        <id property="participantId" column="id" />
        <result property="userId" column="user_id" />
        <result property="name" column="name" />
        <result property="deptName" column="dept_name" />
        <result property="profileImage" column="profile_image" />
        <result property="jobRank" column="job_rank_name" />
    </resultMap>

    <resultMap id="ParticipantByDeptMap" type="com.ideality.coreflow.project.query.dto.ResponseParticipantDTO">
        <result property="userId" column="user_id" />
        <result property="name" column="name" />
        <result property="deptName" column="dept_name" />
        <result property="profileImage" column="profile_image" />
        <result property="jobRank" column="job_rank_name" />
        <result property="roleId" column="role_id"/>
    </resultMap>

    <resultMap id="ParticipantByProjectIds" type="com.ideality.coreflow.project.query.dto.ParticipantUserDTO">
        <id property="userId" column="USER_ID" />
        <result property="name" column="NAME" />
        <result property="projectId" column="PROJECT_ID" />
        <result property="deptName" column="DEPT_NAME" />
        <result property="jobRankName" column="JOB_RANK_NAME" />
        <result property="jobRoleName" column="JOB_ROLE_NAME" />
        <result property="roleId" column="ROLE_ID"/>
    </resultMap>

    <select id="selectAllUserByProjectIds" resultMap="ParticipantByProjectIds">
        SELECT
               u.id AS USER_ID
             , u.name AS NAME
             , p.target_id AS PROJECT_ID
             , u.dept_name AS DEPT_NAME
             , u.job_rank_name AS JOB_RANK_NAME
             , u.job_role_name AS JOB_ROLE_NAME
             , p.role_id AS ROLE_ID
          FROM participant p
          LEFT JOIN user u ON p.user_id = u.id
         WHERE p.target_type = 'PROJECT'
           AND p.target_id IN
               <foreach collection="projectIds" item="id" open="(" separator="," close=")">
                   #{id}
               </foreach>
    </select>

    <select id="selectDirectorByProjectId" resultType="_long">
        SELECT user_id
          FROM participant
         WHERE target_id = #{projectId}
           AND target_type = 'PROJECT'
           AND role_id = 1
    </select>
    <select id="isProjectDirector" parameterType="map" resultType="boolean">
        SELECT EXISTS (
               SELECT 1
                 FROM participant
                WHERE target_type = 'PROJECT'
                  AND target_id   = #{projectId}
                  AND user_id     = #{userId}
                  AND role_id     = 1
        )
    </select>

    <select id="selectParticipantsList" resultType="long">
        SELECT user_id
          FROM participant
         WHERE target_id = #{detailParticipantId}
           AND target_type = 'DETAILED'
    </select>

    <select id="isParticipantUser" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM participant
        WHERE target_id = #{projectId}
        AND user_id = #{userId}
        AND target_type = 'PROJECT'
        )
    </select>

    <select id="findNextTaskUsersByTaskId" resultType="java.lang.Long">
        SELECT p.user_id
        FROM relation r
        JOIN participant p ON r.next_work_id = p.target_id
        WHERE r.prev_work_id = #{taskId}
        AND p.target_type = 'TASK'
    </select>

    <!-- 특정 프로젝트에 참여하는 모든 회원 정보 가져오기 -->
    <select id="selectProjectParticipantList" parameterType="long" resultType="com.ideality.coreflow.project.query.dto.ProjectParticipantDTO">
        SELECT
            p.target_id AS projectId,
            u.id AS userId,
            u.name AS userName,
            u.dept_name AS deptName,
            u.job_rank_name AS jobRankName,
            u.job_role_name AS jobRoleName
        FROM participant p
          JOIN user u ON p.user_id = u.id
         WHERE p.target_type = 'PROJECT'
          AND p.target_id = #{projectId}
    </select>

    <select id="isTeamLeader" parameterType="map" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM participant a
        JOIN user b ON a.user_id = b.id
        WHERE a.target_type = 'PROJECT'
        AND a.target_id   = #{projectId}
        AND a.role_id     = 2
        AND b.dept_name = #{deptName}
        )
    </select>

    <select id="isAboveTeamLeader" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM participant a
        JOIN user b ON a.user_id = b.id
        WHERE a.target_type = 'PROJECT'
        AND a.target_id = #{projectId}
        AND a.user_id = #{userId}
        AND (a.role_id = 1 OR a.role_id = 2)
        )
    </select>

    <select id="isAlreadyParticipant" resultType="boolean">
        SELECT EXISTS (
          SELECT 1
            FROM participant a
            JOIN user b ON a.user_id = b.id
           WHERE a.user_id = #{userId}
            AND a.target_type = 'PROJECT'
            AND a.target_id = #{projectId}
            AND b.dept_name = #{deptName}
        )
    </select>

    <select id="selectParticipantUserId" resultType="long">
        SELECT
               user_id
          FROM participant
         WHERE target_type = 'PROJECT'
           AND target_id = #{project_id}
    </select>

    <select id="selectParticipantCountByDept" resultType="com.ideality.coreflow.project.query.dto.ParticipantDepartmentDTO">
        SELECT
               b.dept_name AS deptName
             , COUNT(a.id) AS participantCount
          FROM participant a
          JOIN user b ON a.user_id = b.id
         WHERE a.target_type = 'PROJECT'
           AND a.target_id = #{projectId}
         GROUP BY b.dept_name
    </select>

    <select id="selectTeamLeaderByDepartment" resultType="map" resultMap="ParticipantLeaderMap">
        SELECT
               a.id
             , a.user_id
             , b.name
             , b.dept_name
             , b.profile_image
             , b.job_rank_name
          FROM participant a
          JOIN user b ON a.user_id = b.id
         WHERE a.target_type = 'PROJECT'
           AND a.target_id = #{projectId}
           AND a.role_id = 2
    </select>

    <select id="selectParticipantByDeptName" resultType="map" resultMap="ParticipantByDeptMap">
        SELECT
               a.user_id
             , b.name
             , b.dept_name
             , b.profile_image
             , b.job_rank_name
             , a.role_id
          FROM participant a
          JOIN user b ON a.user_id = b.id
         WHERE a.target_type = 'PROJECT'
           AND a.target_id = #{projectId}
           AND b.dept_name = #{deptName}
    </select>

    <select id="findParticipantsByTaskId" resultType="Long">
        SELECT p.user_id
        FROM participant p
        WHERE p.target_type = 'TASK'
        AND p.target_id = #{taskId}
    </select>

    <!-- 프로젝트에 디렉터가 누구인지 조회하는 쿼리 -->
    <select id="findDirectorByProjectId" resultType="Long">
        SELECT user_id
        FROM participant
        WHERE target_type = 'PROJECT'
        AND target_id = #{projectId}
        AND role_id = 1
    </select>

    <select id="selectAllUserByProjectId" resultType="com.ideality.coreflow.project.query.dto.UserInfoDTO">
        SELECT
               u.id AS userId
             , u.name AS name
             , u.dept_name AS deptName
             , u.job_rank_name AS jobRankName
             , u.job_role_name AS jobRoleName
             , u.profile_image AS profileImage
             , p.role_id AS roleId
          FROM participant p
          JOIN user u ON p.user_id = u.id
         WHERE p.target_id = #{projectId}
           AND p.target_type = 'PROJECT'
    </select>
    <select id="selectParticipantByTaskId" parameterType="long" resultType="com.ideality.coreflow.project.query.dto.ParticipantUserDTO">
        SELECT
            u.id AS userId,
            u.name AS name,
            w.project_id AS projectId,
            u.dept_name AS deptName,
            u.job_rank_name AS jobRankName,
            u.job_role_name AS jobRoleName,
            p.role_id AS roleId
        FROM participant p
            JOIN user u ON p.user_id = u.id
            JOIN work w ON p.target_id = w.id
        WHERE p.target_type = 'TASK'
          AND p.target_id = #{taskId}
    </select>

    <select id="isAlreadyParticipantByTask" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM participant a
        JOIN user b ON a.user_id = b.id
        WHERE a.user_id = #{userId}
        AND a.target_type = 'TASK'
        AND a.target_id = #{taskId}
        AND b.dept_name = #{deptName}
        )
    </select>
</mapper>